<li class="sidebar-item {{current}}">
  <a class="sidebar-link" href="{{link}}">
    <i class="align-middle" data-feather="{{data-feather}}"></i>
    <span class="align-middle">{{label}}</span>
  </a>
</li>

<!-- <li class="sidebar-item active">
  <a data-bs-target="#dashboards" data-bs-toggle="collapse" class="sidebar-link">
    <i class="align-middle" data-feather="{{data-feather}}"></i>
    <span class="align-middle">Inscrições</span>
  </a>
  <ul id="dashboards" class="sidebar-dropdown list-unstyled collapse show" data-bs-parent="#sidebar">
    <li class="sidebar-item active">
      <a class="sidebar-link" href="#">Entrega de Kits</a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="#">Cadastro de Inscritos</a>
    </li>
  </ul>
</li> -->
